<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.trentorise.smartcampus.rifiuti"
    android:versionCode="6"
    android:versionName="1.1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/application_title"
        android:largeHeap="true"
        android:theme="@style/Theme.Rifiuti" >
        <activity
            android:name="eu.trentorise.smartcampus.rifiuti.SplashScreenActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/application_title"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="eu.trentorise.smartcampus.rifiuti.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/application_title"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="eu.trentorise.smartcampus.rifiuti.RifiutiManagerContainerActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/application_title" >
        </activity>
        <activity
            android:name="eu.trentorise.smartcampus.rifiuti.RifiutoDetailsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/application_title" >
        </activity>
        <activity
            android:name="eu.trentorise.smartcampus.rifiuti.CalendarDayActivity"
            android:label="@string/application_title" >
        </activity>
        <activity
            android:name="eu.trentorise.smartcampus.rifiuti.PuntoRaccoltaActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/application_title" >
        </activity>
        <activity
            android:name="com.github.espiandev.showcaseview.TutorialActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:theme="@style/TutorialTheme" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.github.espiandev.showcaseview.TourActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:theme="@style/TutorialTheme" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="eu.trentorise.smartcampus.rifiuti.tutorial.RifiutiTutorialActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:theme="@style/TutorialTheme" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="eu.trentorise.smartcampus.rifiuti.ContactContainerActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/application_title" >
        </activity>

        <provider
            android:name="com.tyczj.extendedcalendarview.CalendarProvider"
            android:authorities="com.tyczj.extendedcalendarview.calendarprovider"
            android:permission="signature" />

        <receiver android:name="eu.trentorise.smartcampus.rifiuti.notifications.AlarmSetter" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.ACTION_EXTERNAL_APPLICATIONS_AVAILABLE" />
            </intent-filter>
        </receiver>

        <service
            android:name="eu.trentorise.smartcampus.rifiuti.notifications.NotificationsService"
            android:enabled="true" />

        <!-- <meta-data -->
        <!-- android:name="com.google.android.maps.v2.API_KEY" -->
        <!-- android:value="AIzaSyC8Iafl-PanukaEoWT8GuYh4UJEUAZcgv8" /> -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAYMob8Ipl_ykdVq9hkQTvFVSQMNSXn3aA" />
    </application>

</manifest>